

@import url('https://fonts.googleapis.com/css2?family=Asar&family=Castoro+Titling&family=Inter:wght@300&family=PT+Sans&family=Roboto+Mono:wght@200&display=swap');

*{
  /*font-family: 'roboto', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;

  background-color: #00101b;

  overflow: hidden;
  overflow-y: scroll;
  
}

header, aside {
  position: relative;
  z-index: 2; /* Set a higher z-index for header and aside */
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a lower z-index for the animation */
  pointer-events: none;
}

h1{
  color: white;
}