.category-button {
    display: inline-block;
    padding: 10px;
    background-color: #6E6D70;
<<<<<<< Updated upstream
    color: #000000;
=======
    color: #fffefe;
>>>>>>> Stashed changes
    cursor: pointer;
    position: relative;
  }
  
  .category-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6E6D70;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
  }
  
  .category-item {
    padding: 8px 0;
    cursor: pointer;
  }