.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px; /* Adjusted the margin-top */
    background-color: #fff;
    padding-top: 15px; /* Adjusted the padding-top */
    width: 600px; /* Adjusted the width */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px; /* Adjusted the margin-top */
}

.text {
    color: black;
    font-size: 32px; /* Adjusted the font size */
    font-weight: 700;
}

.inputs {
    margin-top: 25px; /* Adjusted the margin-top */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjusted the gap */
}

.input {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 500px; /* Adjusted the width */
    height: 60px; /* Adjusted the height */
    background-color: #eaeaea;
    border-radius: 6px;
}

.input input {
    height: 100%;
    width: 100%;
    padding-left: 15px; /* Adjusted the padding-left */
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 28px; /* Adjusted the font size */
}

.footer {
    display: flex;
    gap: 20px; /* Adjusted the gap */
    margin: 30px auto; /* Adjusted the margin */
}

.nappi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px; /* Adjusted the width */
    height: 49px; /* Adjusted the height */
    background-color: grey;
    color: #fff;
    border-radius: 50px;
    font-size: 20px; /* Adjusted the font size */
    cursor: pointer;
}

.texti {
    padding-left: 10px; /* Adjusted the padding-left */
    margin-top: 20px; /* Adjusted the margin-top */
    color: grey;
    font-size: 20px; /* Adjusted the font size */
}
