

.search-container{
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    background-color: #001b30;
}

.search-bar-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;  
    background-color: #00223b;

}

.search-bar-container img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #094f85;
}
.search-bar-container img:hover{
    background-color: #011627;
}

.search-bar{
    width: 400px;
    height: 30px;
    margin-right: 5px;
}

.genre-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
.genre-list li {
    margin-right: 10px; 
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(0, 218, 218);
}

.search-results{
    display: flex;
    flex-wrap: wrap;
}

.filter-container{

    padding: 5px;
    background-color: rgb(160, 160, 160);
    border: 2px black;
}
.movie-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px; 
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black; 
    background-color: #001b30;
}

.search-btn{
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00223b;
    color: beige;
    cursor: pointer;
}

.featured-buttons{
    margin-left: 50px;
}

.about-btn{
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00223b;
    color: beige;
    cursor: pointer;
}
.about-btn:hover{
    background: #245380;
}

.search-results-container{
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100vh;
    background-color: #ff1818;
}

.add-watchlist-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
}

.delete-watchlist-btn{
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00223b;
    color: beige;
    cursor: pointer;
}
.delete-watchlist-btn:hover{
    background: #245380;
}

.filter-container{

    padding: 5px;
    background-color: rgb(160, 160, 160);
    border: 2px black;
}

.movie-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px; 
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black; 
}

.add-watchlist-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(58, 58, 58);
}

.movieList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .movieListItem {
    flex: 1;
  }


