

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color:black;
    font-size: 48px;
    font-weight: 700;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    width: 400px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 6px;
}

.input input{
  height: 100%;
  width: 100%;
  padding-left: 25px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 40px;
}

.footer{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.nappi{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background-color: grey;
    color: #fff;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
}

  .login-btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .login-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #000000,
      #0044ff,
      #0051ff,
      #00eeff,
      #000000,
      #00ffdd,
      #0004ff,
      #4400ff,
      #000000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .login-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001b30;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.texti{
    padding-left: 15px;
    margin-top: 27px;
    color: grey;
    font-size: 25px;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
    background-color: #001b30;
  }

.login{
    padding: 40px;
    border-radius: 15px;
    background-color: #00223b;
}


.input label {
    display: block;
    margin-bottom: 5px;
}

.text{
    font-size: xx-large;
    color: #f1f1f1;
}

.login-container h3{
    color: #f1f1f1;
}