.settings{
    background-color: #00101b;
    padding: 0px;
    margin: 0px;
    color: beige;
    font-family: 'Roboto', monospace;
    z-index: 2;
    height: 100vh;
}

.setting{
    display: flex;
    flex-wrap: wrap;
    background-color: #001a2c;
    padding: 10px;
    margin: 10px;
    color: beige;
    font-family: 'Roboto', monospace;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.settings-container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    min-height: 100px;
    padding: 20px;
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #00223b;
    width: 450px;
    text-align: center;
}
.settings-btn {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
  }

  .settings-btn:before {
    content: "";
    background: linear-gradient(
      45deg,
      #000000,
      #0044ff,
      #0051ff,
      #00eeff,
      #000000,
      #00ffdd,
      #0004ff,
      #4400ff,
      #000000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    -webkit-filter: blur(1px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  .settings-btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001b30;
    left: 0;
    top: 0;
    border-radius: 10px;
  }